/* ====================
HAND-CODED BY AANT 340
 CLASS OF SPRING 2026
==================== */

/* The root defines all variables to be used in style.css. */
:root {
	/* These are the three colours the class agreed upon. They will ONLY be used to define variables further down in the root. */
	--jasmine: #ffdc82;
	--cornflower: #82aeff;
	--verdigris: #1b998b;

	/* These variables define colours on the page. Use them. */
	--page-background: #fff;
	--container-background: transparent; /* This is probably temporary & I'll likely edit it out. – Olly */
	--text-color: #000;
}

/* ========== ABSOLUTE BASICS ========== */
body {
	display: flex;
	justify-content: center;
	background-color: var(--page-background);
	color: var(--text-color);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 17px;
	text-align: justify;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 70%;
	background-color: var(--container-background);
}

/* ========== HEADER ========== */
header {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

h1 {
	font-size: 70px;
	font-family:Georgia, 'Times New Roman', Times, serif
}

h1 span {
	display: block;
	margin-top: 5px;
    font-size:20px; 
	color:#444; 
	word-spacing:1px; 
	letter-spacing:2px;
    text-transform: uppercase; 
	font-family:"Raleway", sans-serif; 
	font-weight:500;

	display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

h1 span:after, h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid var(--cornflower);
    border-top: 1px solid var(--cornflower);
    height: 5px;
  	background-color: var(--page-background);
}

/* ========== NAVIGATION ========== */
nav {
	margin: -40px 0px 30px;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

ul.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin: -10px 0 0 -3ch; /* -3ch left margin to offset a hidden separator. */
}
ul.nav li {
  padding-left: 1ch;
}
ul.nav li+li::before {
  content: '—';
  display: inline-block;
  margin-right: 1ch; /* Using ch because this depends on text size, which accessibility settings may change. */
  text-align: center;
}

/* ========== HEADERS ========== */
h2, h3 {
	display: block;
	margin: -10px 0 0 0;
	word-spacing:1px; 
	letter-spacing:2px;
    text-transform: uppercase; 
	font-family:"Raleway", sans-serif; 
	font-weight:500;
	
}

h2 {
	display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

h3 {
	text-align: center;
	margin-top: 20px;
	border-bottom: 1px var(--cornflower);
}

h3::after {
	background-color: var(--cornflower);
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.1rem;
    width: 60%;
	margin: 10px 20%;
}

h2:before, h2:after {
	content: " ";
    display: block;
    border-top: 4px solid var(--cornflower);
	margin-top: 5px;
	border-radius: 10px;
    height: 5px;
  	background-color: var(--page-background);
}

h2.top-space {
	margin-top: 10px;
}

/* ========== LINKS ========== */
a {
	color: var(--verdigris);
	text-decoration: underline;
	text-decoration-style: double;
	transition: 0.2s;
}

a:hover {
	color: var(--jasmine);
}

/* =========== TABLES ========== */
table {
	table-layout: fixed;
	width: 100%;
}

th, td {
	border: 2px solid;
	padding: 5px;
	text-align: center;
}

/* ========== IFRAME (SURVEY) ========== */
.survey {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* ========== ACCESSIBILITY TOOLS - DO NOT EDIT W/O REASON =========== */
#skip-to-content-link {
position: absolute;
top: -40px;
left: 0;
padding: 8px;
z-index: 100;
transition: top 0.3s;
}

#skip-to-content-link:focus {
top: 0; /* Brings it into view on focus */
}